.page-section {
   padding: 1.2rem 0; 
}

@media (min-width: 900px) {
    .page-section {
        padding: 4.5rem 0;
    }
}

.page-section--blue {
    background-color: #2f5572;
    color: #FFF;
}

.page-section--testimonials {
    background-color: #e0e6ef;
}
@media (min-width: 530px) {
.page-section--testimonials {
    background: url('C:/Users/user/Desktop/Projects/travel-site/app/assets/images/testimonials-bg.jpg') top center no-repeat;
    background-size: cover;
    }
}