.primary-nav {
    
}

.primary-nav--pull-right {
    float: right;
}

.primary-nav ul{
    margin: 0;
    padding: 0;
}

.primary-nav li{
    list-style: none;
    float: left;
    padding-right: 30px;
}

.primary-nav a{
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 12px 0;
}