.row {
    
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 530px) {
    .row__4 {
        float: left;
        width: 33.33%;
    }
    
    .row__8 {
        float: left;
        width: 66.66%;
    }
    .row__4--larger {
        width: 37%;
    }
    .row__8--smaller {
        width: 63%;
    }
    .row__6 {
        float: left;
        width: 50%;
    }
}

.row--gutters > div {
    padding-right: 65px;
}

.row--gutters {
    margin-right: -65px;
}

.row--gutters-large {
    margin-right: -100px;
}

.row--gutters-large > div {
    padding-right: 100px;
}

.row__b-margin-medium {
    margin-bottom: 1rem;
    @media screen {
        margin-bottom: 0;
    }  
}